<% provide :title, "Add book" %>
<% provide :button_text, "Add book" %>
<h1> Addbook </h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @book do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :category %>
      <%= f.text_field :category, class: "form-control" %>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
