<footer class="footer">
  <div class="container text-center">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t("about_title"), about_path %></li>
          <li><%= link_to t("contact_title"), contact_path %></li>
          <li><%= link_to t("help_title"), help_path %></li>
          <li><%= link_to t("lang_en"), locale:"en" %></li>
          <li><%= link_to t("lang_vi"), locale:"vi" %></li>
        </ul>
      </div>
    </nav>
  </div>
</footer>
