<header class="header">
  <div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
              data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><%= link_to t("home_title"), root_path %></li>
            <li><%= link_to t("about_title"), about_path %></li>
            <li><%= link_to t(".nav_all"), books_path %></li>
            <li><%= link_to t(".deal"), "#" %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
              <% if @current_user.admin? %>
                <%= render "layouts/admin" %>
              <% elsif @current_user.employee? %>
                <%= render "layouts/employee" %>
              <% else %>
                <%= render "layouts/customer" %>
              <% end %>
            <% else %>
              <li><%= link_to t("sign_up"), signup_path %></li>
              <li><%= link_to t("sign_in"), login_path %></li>
            <% end %>
            <li><%= link_to t("cart"), cart_path, class: "btn btn-link" %></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
